@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

body {
    --primary-color: white;
    --secondary-color: white;
    --alpha-color: #f5f5f5;
    --text: black;
    --accent: #B1B7DF;
    --gradient: linear-gradient(350deg, rgba(255, 255, 0, 1) 0%, rgba(255, 59, 0, 1) 100%);
    --accent-color: orange;
}

.dark1 {
    --text: white;
    --primary-color: black;
    --secondary-color: rgb(41, 41, 41);
    --alpha-color: #383838;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-data {
    background-color: #E3FDFD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
}


.recipe-data h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.recipe-data p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}

.recipe-data p b{
    font-size: 18px;
}

.recipe-data .recipe button {
    text-decoration: none;
    border: none;
    list-style: none;
    color: black;
}

.gambar{
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: auto;
    max-width: 80%;
    max-height: 80%;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #ff5733;
    text-align: center;
}

ol {
    padding-left: 19px;
}

.close {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ff5733;
}

.modal-content p {
    margin: 10px 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.action {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.action ul{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 20px;
}

.action ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.action ul li:hover {
    border-bottom: 3px solid black;
    transition: all .3s ease;
}

.rating-container{
    margin: 50px;
    width: 50%;
    background-color: var(--secondary-color);
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.rating-container .post{
    display: none;
}

.rating-container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.rating-container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.rating-container .edit:hover{
    text-decoration: underline;
}
.rating-container .rating input{
    display: none;
}

.rating label{
    cursor: pointer;
    font-size: 180%;
    color: #e3e3e3;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
    content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
    content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
    content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
    content: "I just like it ";
}
#rate-5:checked ~ form header:before{
    content: "I just love it ";
}

input:checked ~ form{
    display: block;
}

form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

.rating {
    width: 100%;
}

.star-rating {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

form .textarea{
    height: 160px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 80%;
    width: 100%;
    outline: none;
    color: black;
    border: 1px solid transparent;
    background: var(--alpha-color);
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

.textarea textarea:focus{
    border-color: #e3e3e3;
}

form .btn-rating{
    height: 45px;
    width: 100%;
}
form .btn-rating button{
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    background: orange;
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}

form .btn-rating button:hover{
    color: orange !important;
    background: transparent;
    border: 2px solid orange;
}

.header-komentar {
    text-align: center;
    border-top: solid var(--text);
    padding: 20px;
    color: var(--text);
}

.box-komentar {
    display: flex;
    justify-content: center;
}

.review {
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 50%;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    color: var(--text) !important;

}

.bintang-komentar {
    /* border-bottom: solid #222; */
    color: var(--text);
    padding: 5px;
}

.name-komentar {
    /* color: var(--primary-color); */
    border-right: solid #e3e3e3;
    padding: 5px;
    min-width: 15%;
    max-width: 15%;
}

.text-komentar {
    border-left: solid transparent;
    margin-left: 10px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-width: 85%;
    max-width: 85%;
}
.text-komentar p {
    color: var(--text);
    padding: 5px;
}

.konten-isi1 {
    width: 100%;
}

@media (orientation: portrait) {
    .rating-container {
        width: 90%;
    }

    .review {
        width: 90%;
    }

    .name-komentar {
        border-right: solid transparent;
    }
    
    .text-komentar {
        border-left: solid #e3e3e3;
    }

    .konten-isi1 p {
        display: flex;
    }
}